messages:
{
	start:
	{
		title: "Server Starting"
		text: "嘗試開 server..."
	}
	running:
	{
		title: "Teon Running"
		text: "TEON Server: Up and Running"
	}
	stop:
	{
		title: "Teon Stopped"
		text: "TEON STATUS: SERVER DOWN!!! <!group>"
	}
	fatal:
	{
		title: "Teon 電腦大爆炸！"
		text: "<!group> 電腦大爆炸呀！"
	}
}
slack_url: "https://hooks.slack.com/services/XXXXXXXXXXXXXXXXXXX"
