[program:server]
command=/path/to/executable
directory=/path/to/workingdir
autorestart=unexpected

[eventlistener:server_slack_handler]
command=python slack_handler.py
events=PROCESS_STATE

[supervisord]
